/* Общие стили для всего сайта */
body {
    font-family: 'Arial', sans-serif;
    height: 95vh;
    margin: 0;
    text-align: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

/* Стили для кнопок */
#loginButton {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    margin: 20px;
    padding: 14px 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s ease;
}

#loginButton:hover, #searchButton:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Стили для контента */
#content {
    margin-top: 20px;
}

/* Стили для поля поиска */
#searchInput {
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    flex-grow: 1;
    font-size: 18px;
    padding: 14px;
    width: 750px;
}

/* Стили для кнопки поиска */
#searchButton {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    color: #000000;
    cursor: pointer;
    font-size: 18px;    
    padding: 14px 20px;
    transition: background-color 0.3s ease;
}

/* Стили для таблицы */
table {
    border: none;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

/* Стили для заголовков и ячеек таблицы */
th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

/* Стили для ячеек таблицы */
td {
    background-color: white;
    border: none;
}

button.addToShelf {
    background-color: #ffffff; 
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    color: #000000; 
    cursor: pointer; 
    padding: 8px 16px;
    font-size: 14px; 
}

button.addToShelf:hover {
    background-color: #000000; 
    color: #ffffff;
}