/* Общие стили для всего сайта */
body {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

/* Стили для контейнера */
.container {
    background-color: #fff;
    padding: 20px;
}

/* Стили для форм */
form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Стили для кнопок переключения */
#loginToggle, #registrationToggle {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px 0px 0px 10px;
    color: #000000;
    font-size: 18px;
    padding: 15px;
    width: 150px;
}

#registrationToggle {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    color: #000000;
    font-size: 18px;
    padding: 15px;
    width: 150px;
}

#loginToggle:hover, #registrationToggle:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Стили для полей ввода */
input {
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px;
    width: 275px; 
}

/* Стили для кнопок */
button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Стили для кнопки отправки */
#submit {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 150px;
}