<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/action_styles.css">
    <title><%= result %></title>
</head>
<body>
    <% if (action) { %>
        <h1>Книга была успешно добавлена!</h1>
    <% } else  { %>
        <h1>У вас уже есть такая книга!</h1>
    <% } %>
    <div class="container">
        <a href="/"><img src="/public/images/library.png" alt="домой"></a>
    </div>
    <h2>На главную</h2>
</body>
</html>