<nav class="d-flex justify-content-center navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex justify-content-center navbar-nav">
            <a class="nav-item nav-link" href="/">Library</a>
            <a class="nav-item nav-link" href="/user">User</a>
            <a class="nav-item nav-link" href="/addBook">Add book</a>
        <div>
</nav>
