<nav class="d-flex justify-content-center navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"
      name="search"
      id="search"
      type="search"
      onChange="findBooks(this.value)"
      placeholder="Search"
      aria-label="Search">
    </form>
</nav>
